<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>ゆうし教の教え</title>
</head>
<body>
    <header>
        <h1>ゆうし教の教え</h1>
    </header>
    <div class="container">
        <h2>ゆうし教の教え</h2>
        <ol>
            <li>全ての語録をしたから上へ学ぶ</li>
            <li>日常で使う</li>
            <li>ゆうしを信仰(嘲笑)する</li>
        </ol>
    </div>
</body>
</html>
